
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bell Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="./assets/img/favicon.png" rel="icon">
  <link href="./assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Template Main CSS File -->


  <!-- =======================================================
  * Template Name: Bell - v4.6.0
  * Template URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>


<body>

    
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container text-center">


      <div class="col-md-12">
        <img class="imagen" >
        <h1>
          Inmobiliaria Cosmic robots
        </h1>

        <p class="tagline">
          El futuro de las inversiones en inmuebles
        </p>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Header ======= -->

    
  <main id="main">

    <!-- ======= About Section ======= -->
    <!--section class="about" id="about">

      <div class="container text-center">
        <h2>
          Sobre Cosmic robots
        </h2>

        <p>
          Los principales sectores de desarrollo de Cosmic Robots están situados en el mercado inmobiliario, las cadenas de blockchain, y la bolsa de valores. Mientras que sus principales campos de explotación son la automatización de procesos mediante la programación de bots, el uso de inteligencia artificial (IA) para realizar inversiones en bolsa y la creación, además del uso, de sus propias criptomonedas.

        </p>

        <div class="row stats-row">
          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Clientes satisfechos
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="79" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Projectos de futuro
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Mantenimiento constante
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span data-purecounter-start="0" data-purecounter-end="68" data-purecounter-duration="1" class="purecounter stats-no"></span>
              Mucho trabajo duro
            </div>
          </div>
        </div>
      </div>

    </section--><!-- End About Section -->



  </main><!-- End #main -->


  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

  <!-- Template Main JS File -->
  <script src="./assets/js/main.js"></script>
</body>

</html>
